section.tickets-list
  h2.visually-hidden= ticketListParams.hiddenTitle
  .tickets-list__wrapper
    .tickets-list__header
      if !isOwner
        p.tickets-list__title= ticketListParams.title
    ul
      each ticket, index in ticketListParams.list
        li.tickets-list__item
          div(class='ticket-card ticket-card--color0' + index)
            .ticket-card__img
              img(src=ticket.picture.base srcset=ticket.picture.retina + ticket.picture alt='Иконка категории')
            .ticket-card__info
              span.ticket-card__label= ticket.type
              .ticket-card__categories
                a(href='#')= ticket.category
              .ticket-card__header
                h3.ticket-card__title
                  a(href=`/offers/${ticket.id}`)= ticket.title
                p.ticket-card__price
                  span.js-sum #{ticket.sum} ₽
              if !isOwner
                .ticket-card__desc
                  p= ticket.description
            if isOwner
              button.ticket-card__del.js-delete(type='button') Удалить
