section.tickets-list
  h2.visually-hidden= params.hiddenTitle
  .tickets-list__wrapper
    .tickets-list__header
      p.tickets-list__title= params.title
    ul

        each ticket, index in params.ticketList
          li.tickets-list__item
            div(class='ticket-card ticket-card--color01')
              .ticket-card__img
                img(src=ticket.picture.base srcset=ticket.picture.retina + ticket.picture alt='Иконка категории')
              .ticket-card__info
                span.ticket-card__label= ticket.type
                .ticket-card__categories
                  a(href='#')= ticket.category
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#')= ticket.title
                  p.ticket-card__price
                    span.js-sum= ticket.sum
                    |  ₽
                .ticket-card__desc
                  p= ticket.description
